@model ProjectDobavljac.Model.Dobavljac

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dobavljac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dobavljacAdresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dobavljacAdresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dobavljacNaziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dobavljacNaziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dobavljacId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
